@font-face {
  font-family: "NotoSansJP";
  src: url("assets/fonts/NotoSansJP-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: black;
}

.click-pass {
    pointer-events: none;
}

.animated-scale {
    transform: scale(0);
    animation: scale 0.1s ease-out forwards;
}

#main-wraper {
    display:flex;
    justify-content:center;
    position:relative;
    bottom: 8px;
    width: 480px;
    overflow: hidden;
}

#alterego-face {
    position: relative;
}

#scroll-artifact-wraper {
    width:480px;
    height:320px;
    overflow:hidden;
    position:relative;
    flex-shrink:0;
}

#noise {
    position: absolute;
    opacity: 0.3;
    width:480px;
    height:320px;
    display: none;
}

.fall {
    position:absolute;
    opacity: 0.5;
    animation: movedown 20s linear infinite;
}

#border-wraper {
    position: absolute;
    z-index: 1;
    width: 30rem;
}

#dialog-wraper {
    position: absolute;
    top: 220px;
    width: 480px;
    transform: translateX(0);
    animation: anim-dialog 0.2s ease-in forwards;
    z-index: 1;
}

#dialog-container {
    position: absolute;
    display: flex;
    width: 410px;
    left: 30px;
    top: 10px;
}

#dialog-text {
    position: absolute;
    white-space: pre-line; /* IMPORTANT */
    z-index: 100;
    color: #1BD211;
    filter: blur(0.3px);
    line-height: 1.15rem;
    font-size: 0.7rem;
    font-family: 'NotoSansJP', sans-serif;
}

#dialog-box {
    top: 12px;
    background-color: rgba(0, 0, 0, 0.377);
    position: absolute;
    display: none;
    z-index: 1;
}

#dialog-next {
    position: absolute;
    left: 395px;
    display: none;
    animation: moveupdown 1.2s linear infinite;
    z-index: 1;
}

#dialog-pass {
    position: absolute;
    left: 382px;
    bottom: -10px;
    display: none;
    animation: moveleftright 1s linear infinite;
    z-index: 1;
}

#dialog-skip {
    position: absolute;
    left: -30px;
    top: 2px;
    display: none;
    z-index: 1;
}

.dialog-next-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.dialog-pass-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.dialog-skip-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    width: 480px;
    height: 83px;
}

.dialog-next-image {
    width: 30px;
    height: 30px;
}

.dialog-pass-image {
    width: 30px;
    height: 30px;
}

#menu-right {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#menu-left {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.menu-button-right {
    position: relative;
    border: none;
    padding: 0;
    background: none;
    top:14px;
    left:200px;
    cursor: pointer;
}

.menu-button-left {
    position: relative;
    border: none;
    padding: 0;
    background: none;
    top:14px;
    right:200px;
    cursor: pointer;
}

.menu-button-image {
    width: 50px;
    height: 50px;
}

.menu-random-dialog {
    top: 52px;
}

.menu-text {
    color: #1BD211;
    position: absolute;
    width: 100px;
    bottom: -8px;
    font-size: 12px;
    right: -25px;
    font-weight: 700;
    -webkit-text-stroke: 0.4px black;
    filter: blur(0.3px);
    font-family: 'NotoSansJP', sans-serif;
}

#clock {
    position: absolute;
    display: none;
    z-index: 2;
}

#clock-hour-1 {
    position: relative;
}

#clock-hour-2 {
    position: relative;
}

#clock-minute-1 {
    position: relative;
}

#clock-minute-2 {
    position: relative;
}

#clock-year-1 {
    position: relative;
}

#clock-year-2 {
    position: relative;
}

#clock-year-3 {
    position: relative;
}

#clock-year-4 {
    position: relative;
}

#clock-month-1 {
    position: relative;
}

#clock-month-2 {
    position: relative;
}

#clock-day-1 {
    position: relative;
}

#clock-day-2 {
    position: relative;
}

/*DO NOT ADD GAP, cause some text width is diffrent*/
#clock-number-big {
    position: absolute;
    display: flex;
    top: 15px;
    transform: translateY(0);
    left: -156px;
    animation: anim-clock-big-show 0.1s ease-out forwards;
}

.clock-image-big {
    width: 60px;
    height: 60px;
}

.clock-image-big-left-offset {
    position: relative;
    left:26px;
}

.clock-image-big-right-offset {
    position: relative;
    right: 19px;
}

/*DO NOT ADD GAP, cause some text width is diffrent*/
#clock-number-small {
    position: absolute;
    display: flex;
    top: 275px;
    transform: translateY(0);
    left: -117px;
    overflow: hidden;
    animation: anim-clock-small-unshow 0.1s ease-out forwards;
}

.clock-number-small-1-offset {
    position: relative;
    right: 0;
}

.clock-number-small-2-offset {
    position: relative;
    right: 5px;
}

.clock-number-small-3-offset {
    position: relative;
    right: 10px;
}

.clock-number-small-4-offset {
    position: relative;
    right: 15px;
}

.clock-number-small-5-offset {
    position: relative;
    right: 30px;
}

.clock-number-small-6-offset {
    position: relative;
    right: 34px;
}

.clock-number-small-7-offset {
    position: relative;
    right: 38px;
}

.clock-number-small-8-offset {
    position: relative;
    right: 53px;
}

.clock-number-small-9-offset {
    position: relative;
    right: 54px;
}

.clock-number-small-10-offset {
    position: relative;
    right: 59px;
}

.clock-button-back {
    position: absolute;
    border: none;
    padding: 0;
    background: none;
    left: -240px;
    width: 480px;
    height: 320px;
}

.button-back {
    border: none;
    padding: 0;
    top: 289px;
    left: 107px;
    width: 133px;
    height: 32px;
    cursor: pointer;
    z-index: 2;
    background: url("assets/main/back_unhighlight.png");
}

.button-back:hover {
    background-image: url("assets/main/back_highlight.png");
}

#encyclopedia {
    position: absolute;
    display: none;
}

#encyclopedia-button-back {
    position: absolute;
}

.encyclopedia-block-bottom {
    position: absolute;
    border: none;
    background-color: black;
    top: 272px;
    left: -240px;
    width: 480px;
    height: 48px;
    z-index: 1;
}

.encyclopedia-block-top {
    position: absolute;
    border: none;
    background-color: black;
    left: -240px;
    width: 480px;
    height: 64px;
    z-index: 1;
}

#encyclopedia-dr-world-encyclopedia {
    position: absolute;
    z-index: 1;
    left: -126px;
    top: 45px;
    animation: anim-encyclopedia-dr-world-encyclopedia 0.8s forwards;
}

#encyclopedia-dr-world-encyclopedia-text {
    position: absolute;
    top: -12px;
    left: 128px;
    font-size: 12px;
    font-weight: 700;
    filter: blur(0.3px);
    font-family: 'NotoSansJP', sans-serif;
}

#encyclopedia-chapter-w {
    position: absolute;
    z-index: 1;
    left: -228px;
    top: 30px;
    animation: anim-encyclopedia-chapter-w 0.8s forwards;
}

#encyclopedia-encyclopedia-text {
    position: absolute;
    z-index: 1;
    left: -15px;
    top: 18px;
    font-family: 'NotoSansJP', sans-serif;
    animation: anim-encyclopedia-world-encyclopedia 0.8s forwards;
}

#encyclopedia-line-vertical {
    position: absolute;
    z-index: 1;
    left: -216px;
    width: 480px;
    height: 0;
    background-image: url("assets/encyclopedia/line_vertical.png");
    background-repeat: repeat;
    background-size: auto;
    animation: anim-encyclopedia-line-vertical 1.6s 1s forwards;
}

#encyclopedia-line-horizontal {
    position: absolute;
    z-index: 1;
    top:10px;
    left: -240px;
    width: 0;
    height: 320px;
    background-image: url("assets/encyclopedia/line_horizontal.png");
    background-repeat: repeat;
    background-size: auto;
    animation: anim-encyclopedia-line-horizontal 1.6s 0.1s forwards;
}

#encyclopedia-side {
    position: absolute;
    z-index: 1;
    left: -272px;
    width: 160px;
    height: 320px;
    background-image: url("assets/encyclopedia/side.png");
    background-repeat: repeat;
    background-size: auto;
    transform: translateX(-160px);
    animation: anim-encyclopedia-side 0.8s 0.1s forwards;
}

#encyclopedia-darker-bg {
    position: absolute;
    z-index: 1;
    left: -240px;
    top: -1000px;
    width: 480px;
    height: 320px;
    background-color: #40404080;
    animation: anim-encyclopedia-darker-bg 0.001s 2s forwards;
}

#encyclopedia-cylinder {
    position: absolute;
    z-index: 1;
    top: 110px;
    left: -290px;
    transform: translateX(-51px);
    animation: anim-encyclopedia-cylinder 1s 0.1s forwards;
}

#encyclopedia-cylinder-image {
    animation: spin 5s linear infinite;
}

#encyclopedia-text-container {
    position: absolute;
    left: -100px;
    top: -1000px;
    height: 208px;
    width: 400px;
    overflow: scroll;
    animation: anim-encyclopedia-text-container 0.001s 2.25s forwards;
}

.encyclopedia-button-text {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    width: 320px;
    text-align: left;
}

.encyclopedia-text {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: -12px;
    font-size: 12px;
    font-weight: 700;
    filter: blur(0.3px);
    font-family: 'NotoSansJP', sans-serif;
}

#encyclopedia-text-1 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-2 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-3 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-4 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-5 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-6 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-7 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-8 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-9 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-10 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-11 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-12 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-13 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-14 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-15 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-16 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-17 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-18 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-19 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-20 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-21 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-22 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-23 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-24 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-25 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-26 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-27 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-28 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-29 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-30 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-31 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-32 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-33 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-34 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#encyclopedia-text-35 {
    position: absolute;
    display: none;
    top: -22px;
    left: -5px;
    animation: anim-encyclopedia-text-hover-thing-blink 1.5s infinite;
    z-index: 1;
}

#character {
    position: absolute;
    display: none;
}

#character-button-back {
    position: absolute;
}

#character-char-button-next {
    position: absolute;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    width: 33px;
    height: 34px;
    top: 142px;
    left: 190px;
    background: none;
    background-image: url("assets/character/next_unhighlight.png");
    background-size: contain;
}

#character-char-button-back {
    position: absolute;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
    width: 33px;
    height: 34px;
    top: 142px;
    left: -222px;
    background: none;
    background-image: url("assets/character/back_unhighlight.png");
    background-size: contain;
}

#character-char-button-next:hover {
    background-image: url("assets/character/next_highlight.png");
}

#character-char-button-back:hover {
    background-image: url("assets/character/back_highlight.png");
}

#character-encyclopedia-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 3px;
    left: -175px;
    top: 52px;
}

.character-button-encyclopedia {
    position: relative;
    width: 56px;
    height: 216px;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;

}

#character-button-encyclopedia-1 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s forwards;
}

#character-button-encyclopedia-2 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s 0.08s forwards;
}

#character-button-encyclopedia-3 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s 0.16s forwards;
}

#character-button-encyclopedia-4 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s 0.24s forwards;
}

#character-button-encyclopedia-5 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s 0.32s forwards;
}

#character-button-encyclopedia-6 {
    filter: brightness(50%);
    transition: filter 0.35s ease;
    top: -268px;
    animation: anim-character-button-encyclopedia 0.8s 0.40s forwards;
}

#character-button-encyclopedia-1:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-2:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-3:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-4:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-5:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-6:hover {
    filter: brightness(100%);
}

#character-button-encyclopedia-image-1 {
    position: relative;
    height: 216px;
}

#character-button-encyclopedia-image-2 {
    position: relative;
    height: 216px;
}

#character-button-encyclopedia-image-3 {
    position: relative;
    height: 216px;
}

#character-button-encyclopedia-image-4 {
    position: relative;
    height: 216px;
}

#character-button-encyclopedia-image-5 {
    position: relative;
    height: 216px;
}

#character-button-encyclopedia-image-6 {
    position: relative;
    height: 216px;
}

#character-top-encyclopedia-image {
    position: absolute;
    left: -240px;
    top: -39px;
    animation: anim-character-top-encyclopedia-image .5s 0.2s forwards;
}

#character-image-full-container {
    position: absolute;
    display: none;
    width: 262px;
    height: 320px;
    left: -128px;
    background-color: rgb(64, 167, 64);
    transform: scale(1);
    transition: transform .8s ease;
}

#character-image-full-container:hover {
    transform: scale(1.1);
}

#character-image-full {
    position: absolute;
    top: 13px;
    left: 3px;
}

@keyframes moveupdown {
    0% {top: 40px;}
    38% {top: 49px;}
    100% {top: 40px;}
}

@keyframes moveleftright {
    0% {left: 377px;}
    77% {left: 382px;}
    100% {left: 377px;}
}

@keyframes movedown {
    from {top: -320px;}
    to   {top: 0;}
}

@keyframes anim-dialog {
    0% {transform: translateX(-480px);}
    90% {transform: translateX(20px);}
    100% {transform: translateX(0);}
}

@keyframes scale {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}

@keyframes anim-clock-big-unshow {
    from {transform: translateY(-80px);}
    to {transform: translateY(0);}
}

@keyframes anim-clock-big-show {
    from {transform: translateY(0);}
    to {transform: translateY(-80px);}
}

@keyframes anim-clock-small-unshow {
    from {transform: translateY(50px);}
    to {transform: translateY(0);}
}

@keyframes anim-clock-small-show {
    from {transform: translateY(0);}
    to {transform: translateY(50px);}
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

@keyframes anim-encyclopedia-dr-world-encyclopedia {
    from {transform: translateX(365px);}
    to {transform: translateX(0);}
}

@keyframes anim-encyclopedia-chapter-w {
    from {transform: translateX(-132px);}
    to {transform: translateX(0);}
}

@keyframes anim-encyclopedia-side {
    from {transform: translateX(-160px);}
    to {transform: translateX(0);}
}

@keyframes anim-encyclopedia-cylinder {
    from {transform: translateX(-51px);}
    to {transform: translateX(0);}
}

@keyframes anim-encyclopedia-text-container {
    from {top: -1000px;}
    to {top: 64px;}
}

@keyframes anim-encyclopedia-line-horizontal {
    from {width: 0;}
    to {width: 480px;}
}

@keyframes anim-encyclopedia-line-vertical {
    from {height: 0;}
    to {height: 320px;}
}

@keyframes anim-encyclopedia-darker-bg {
    from {top: -1000px;}
    to {top: 0;}
}

@keyframes character-button-encyclopedia-image-flip-1 {
    0% {width: 56px;left: 0;}
    100% {width: 0;left: -28px;}
}

@keyframes character-button-encyclopedia-image-flip-2 {
    0% {width: 0;left: 28px;}
    100% {width: 56px;left: 0;}
}

@keyframes character-button-encyclopedia-image-flip-3 {
    0% {width: 56px;left: 0;}
    100% {width: 0;left: 28px;}
}

@keyframes character-button-encyclopedia-image-flip-4 {
    0% {width: 0;left: -28px;}
    100% {width: 56px;left: 0;}
}

@keyframes anim-encyclopedia-text-hover-thing-blink {
    0% {opacity: 0;}
    50% {opacity: 0.7;}
    100% {opacity: 0;}
}

@keyframes anim-character-top-encyclopedia-image {
    from {top: -39px;}
    to {top: 0;}
}

@keyframes anim-character-button-encyclopedia {
    from {top: -268px;}
    to {top: 0;}
}